* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

main {
    height: 100dvh;
    display: grid;
    place-items: center;
}

.main-container {
    max-width: 45%;
    display: flex;
    flex-direction: row;
    box-shadow: 1rem 1rem 1rem hsl(221, 100%, 96%);
    border-radius: 2rem;
}

.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* RESULTS - LEFT PANEL */
.left-panel {
    align-items: center;
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    text-align: center;
    color: white;
    border-radius: 2rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
}

.left-h {
    color: hsla(221, 100%, 96%, 0.7);
}

/* CIRCULAR DIV - containing the score 76 of 100 */
.score {
    background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    margin: 2rem auto;
    padding: 2rem 3rem;
    border-radius: 50%;
}

.score-main {
    font-size: 4rem;
    font-weight: 800;
}

.score-sub {
    font-size: 0.9rem;
    color: hsla(221, 100%, 96%, 0.4);
}

.sub-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.description {
    max-width: 90%;
    font-size: 1rem;
    color: hsla(221, 100%, 96%, 0.7);
}

/* SUMMARY - RIGHT PANEL */
.right-panel {
    min-width: 50%;
    gap: 1rem;
}

.right-h {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

/* DIV containing the 4 categories with scores */
.categories-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
}
.category-section {
    display: flex;
    flex-direction: row;
    padding: 0.6rem;
    border-radius: 0.8rem; 
}

/* .shadow and .shadow-2 classes create an effect of a 'shadow' at every corner of every category-section */
.shadow {
    border-radius: 0.6rem;
}
.shad-reaction {
    background-color: hsla(0, 100%, 67%, 0.2);
}
.shad-memory {
    background-color: hsla(39, 100%, 56%, 0.2);
}
.shad-verbal {
    background-color: hsla(166, 100%, 37%, 0.2);
}
.shad-visual {
    background-color: hsla(234, 85%, 45%, 0.2);
}
.shadow-2 {
    background-color: white;
    border-radius: 0.8rem;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction .summary-h {
    color: hsla(0, 100%, 67%, 0.7);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}
.memory .summary-h {
    color: hsla(39, 100%, 56%, 0.9);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal .summary-h {
    color: hsla(166, 100%, 37%, 0.9);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}
.visual .summary-h {
    color: hsla(234, 85%, 45%, 0.7);
}

.summary-h {
     font-size: 1.2rem;
}

.summary-category-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.summary-score-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.summary-score {
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.summary-max-score {
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.3);
}

.continue-button {
    background-color: hsl(224, 30%, 27%);
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: hsl(221, 100%, 96%);
    padding: 0.9rem 0;
    border-radius: 3rem;
    border: none;
}

.continue-button:hover {
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
}

/* Prevents the panel from stretching too wide - it doesn't look aesthetic when it's too stretched out */
@media only screen and (min-width: 1440px) {
    .main-container {
        max-width: 650px;
    }
}

@media only screen and (max-width: 1340px) {
    .main-container {
       max-width: 615px;
    }
}

/* At this point the layout changes into a column, but doesn't take the full width of 100% yet as that wouldn't look good */
@media only screen and (max-width: 650px) {
    .main-container {
        max-width: 80%;  
        flex-direction: column;
        margin-top: 3rem;
    }
}

/* Panels' width is changed to a 100% and top border radius is removed so it looks better on small screens */
@media only screen and (max-width: 400px) {
    .main-container {
        max-width: 100%;  
        height: 100%;
        margin-top: 0;
    }
    .left-panel {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}